/*reset css*/

body {
	margin: 0;
}
form, ul, ol, dl, p, h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 0;
}
td{
	padding: 0;
}
dd {
	margin-left: 0;
}
ul, ol {
	margin-left: 0;
	padding-left: 0;
}
h1, h2, h3, h4, h5, h6, p {
	font-size: inherit;
	font-weight: normal;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}
input {
	padding: 0px;
	margin: 0px;
	-moz-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	tap-highlight-color: rgba(0, 0, 0, 0);
	outline: none;
	border: 0;
	font-size: inherit;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
em, i {
	font-style: normal;
}
a {
	color: inherit;
	text-decoration: none;
}
li {
	list-style: none;
}
html, body, input {
	font-family: 'Microsoft Yahei',Simsun;
	font-size: 24px;
	color: #0d263b;
}
img {
	border: 0;
}
::-moz-placeholder {
	color: #6459f5
}
::-webkit-input-placeholder {
	color: #6459f5
}
:-ms-input-placeholder {
	color: #6459f5
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.clx {
	zoom: 1
}
.clx:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	overflow: hidden
}
.err_popo {
	position: fixed;
	z-index: 1000;
	top: 40%;
	left: 10%;
	width: 80%;
	z-index: 2000;
}
.err_popo span {
	display: block;
	padding: .22rem 0.02rem;
	font-size: .22rem;
	color: #fff;
	background: rgba(0, 0, 0, .5);
	border-radius: 8px;
	text-align: center
}

/*公用部分*/
body {
	color: #fff;
	background-color: #2a44a5;
}
.wrap{
	width: 5.5rem;
	margin-left: auto;
	margin-right: auto;
}
.pb90 {
	padding-bottom: 90px;
}
.pb120 {
	padding-bottom: 120px;
}
.pb150 {
	padding-bottom: 150px;
}
.pb170 {
	padding-bottom: 170px;
}
.relative {
	position: relative;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
h3 {
	padding-bottom: .4rem;
	font-size: .48rem;
	font-weight: bold;
}
a {
	font-size: .28rem;
	color: #fff;
}
.top,
.banner {
	position: relative;
	width: 7.5rem;
	margin-left: auto;
	margin-right: auto;
}
.content .hgroup>h3>span,
.media>h3>span,
.road-map>h3>span {
	padding-left: .2rem;
	font-size: .3rem;
	font-weight: inherit;
}
.content .hgroup>h4 {
	padding-bottom: .2rem;
	font-size: .3rem;
}
.content .hgroup p,
.road-map .list-item>p {
	font-size: .28rem;
	line-height: .56rem;
}
.content .hgroup.advantage p {
	position: relative;
	padding-left: .15rem;
}
.content .hgroup.advantage p:before {
	position: absolute;
	top: 0;
	left: 0;
	font-size: .28rem;
	line-height: .56rem;
	content: "-";
	display: block;
}

/*播放器*/
.float-bar-player-fix,
.float-bar-player {
	width: 100%;
	height: 3.75rem;
}
.float-bar-player-fix.active,
.float-bar-player.active {
	width: 100%;
	height: 1.6rem;
}
.float-bar-player {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 90;
}
.float-bar-player .player-box {
	position: relative;
	height: 1.8rem;
	background: linear-gradient(to right, #7757f8, #4d5cf0);
}
.float-bar-player.active .player-box {
	display: none;
}
.float-bar-player .player-box .disk,
.float-bar-player .player-box .right-btn {
	position: absolute;
	top: 0;
	z-index: 10;
}
.float-bar-player .player-box .disk {
	position: absolute;
	top: 1px;
	left: 0;
	width: 1.92rem;
	height: 1.77rem;
	background-image: url(../images/pc-big-disk.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1.5rem;
}
.float-bar-player.active .player-box .disk {
	top: 3px;
	left: .1rem;
	width: .74rem;
	height: .74rem;
	background-image: url(../images/pc-small-disk.png);
	background-size: .74rem;
	display: none;
}
.float-bar-player .player-box .disk .control-btn {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 15px;
	height: 15px;
	margin-top: -7px;
	margin-left: -7px;
	background-image: url(../images/pc-play-stop-btn.png);
	background-repeat: no-repeat;
	background-position: center -20px;
	background-size: 15px;
	display: block;
}
.float-bar-player .player-box .disk .control-btn.active {
	background-position: center 0px;
}
.float-bar-player .player-box .song-msg {
	position: absolute;
	top: .25rem;
	left: 2.3rem;
	width: 4.9rem;
	height: 1.4rem;
}
.float-bar-player.active .player-box .song-msg {
	display: none;
}
.float-bar-player .player-box .song-msg>h4 {
	padding-bottom: .25rem;
	font-size: .28rem;
	line-height: .28rem;
	color: #fff;
}
.float-bar-player .player-box .song-msg>p {
	position: relative;
	margin-bottom: .2rem;
	font-size: .28rem;
	color: #30f0ef;
	line-height: .42rem;
}
.float-bar-player .player-box .song-msg>p>span {
	position: absolute;
	right: 0;
	bottom: 0px;
	font-size: .2rem;
	color: #2a44a5;
	line-height: .2rem;
}
.float-bar-player .player-box .progress {
	position: relative;
	width: 3.4rem;
	height: 2px;
	margin-left: auto;
	margin-right: auto;
	background-color: #2a44a5;
	cursor: pointer;
}
.float-bar-player .player-box .progress .current-progress {
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 2px;
	background-color: #90feff;
}
.float-bar-player .player-box .progress .current-progress:before {
	position: absolute;
	top: -2px;
	right: -4px;
	width: 6px;
	height: 6px;
	content: "";
	border-radius: 50%;
	background-color: #90feff;
	display: block;
}
.float-bar-player .player-box .song-msg>i {
	position: absolute;
	bottom: .1rem;
	width: .6rem;
	font-size: .2rem;
	color: #fff;
	display: block;
}
.float-bar-player .player-box .song-msg>i.current-time {
	left: 0px;
}
.float-bar-player .player-box .song-msg>i.total-time {
	right: 0px;
	color: #2a44a5;
}
.float-bar-player .small-bar {
	position: relative;
	width: 7.5rem;
	height: .8rem;
	margin: 0 auto;
	background: linear-gradient(to right, #6052e7, #3847e4);
}
.float-bar-player .small-bar>p {
	font-size: .26rem;
	color: #fff;
	text-indent: 2em;
	line-height: .8rem;
}
.float-bar-player .small-bar .right-btn {
	position: absolute;
	top: 0;
	left: 2.9rem;
	width: 2.4rem;
	height: .8rem;
	background: url(../images/pc-get-copy-btn.png) center no-repeat;
	background-size: 2.4rem;
}
.float-bar-player .small-bar .right-btn>a {
	height: .8rem;
}
.float-bar-player .small-bar .right-btn>a.get-gold-btn {
	width: 1rem;
}
.float-bar-player .small-bar .right-btn>a.copy-link-btn {
	width: .8rem;
}
.float-bar-player .small-bar .trapezoid {
	position: absolute;
	top: 0;
	right: .5rem;
	width: .3rem;
	height: .8rem;
	background-image: url(../images/wap-arrow-icon.png);
	background-repeat: no-repeat;
	background-position: 0 center;
	background-size: .65rem;
}
.float-bar-player.active .small-bar .trapezoid {
	background-position: -.35rem center;
}

/*头部*/
.top-bar {}
.top-bar.active {
	background: rgba(0, 0, 0, 0.6);
}
.top {
	height: .8rem;
}
.top>img,
.top>span {
	position: absolute;
	top: .2rem;
}
.top>img {
	left: .3rem;
	width: 3rem;
	height: .4rem;
}
.top>span {
	right: .3rem;
	width: .4rem;
	height: .4rem;
	background: url(../images/wap-nav-button.png) center 0 no-repeat;
	background-size: .38rem;
	display: block;
}
.top .nav {
	position: absolute;
	top: .8rem;
	right: -2rem;
	width: 2rem;
	padding-top: .3rem;
	padding-bottom: .3rem;
	color: #fff;
	background: #191919;
	opacity: 0;
	transition: .5s;
}
.top .nav.active {
	right: 0;
	opacity: 1;
}
.top .nav:before {
	position: absolute;
	top: -.2rem;
	left: .7rem;
	width: 0;
	height: 0;
	content: "";
	border-bottom: .4rem solid #191919;
	border-left: .3rem solid transparent;
	border-right: .3rem solid transparent;
	display: block;
}
.top .nav>a {
	height: .8rem;
	font-size: .28rem;
	text-align: center;
	line-height: .8rem;
	display: block;
}
.top .nav>a:hover {
	color: #42c2ff;
}

/*顶部banner图*/
.banner {
	height: 6.9rem;
	background: url(../images/wap-banner.png) center 1.15rem no-repeat;
	background-size: 7.5rem;
}
.banner .msg-box {
	width: 5.5rem;
	margin-left: auto;
	margin-right: auto;
	padding-top: .5rem;
	text-align: center;
}
.banner .msg-box>a {
	width: 2.5rem;
	height: .6rem;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	line-height: .6rem;
	background: rgba(86, 128, 249, 0.8);
	display: block;
}

/*主题内容*/
.content .section,
.content .section .hgroup {
	width: 100%;
}
.content .section .hgroup:last-child {
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.content .section .hgroup>img {
	width: 5.4rem;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.content .section .hgroup .btn-box {
	padding-bottom: .4rem;
}
.content .section .hgroup .btn-box>a {
	position: relative;
	height: .8rem;
	font-size: .3rem;
	text-align: center;
	line-height: .8rem;
	border: 1px solid #5680f9;
}
.content .section .hgroup .btn-box>a:before {
	position: absolute;
	left: 50%;
	margin-left: -.15rem;
	bottom: -.15rem;
	width: 0;
	height: 0;
	content: "";
	border-top: .15rem solid #5680f9;
	border-left: .15rem solid transparent;
	border-right: .15rem solid transparent;
	display: none;
}
.content .section .hgroup .btn-box>a:first-child,
.content .section .hgroup .msg-box .list-box>div:first-child {
	width: 2.8rem;
}
.content .section .hgroup .btn-box>a:last-child,
.content .section .hgroup .msg-box .list-box>div:last-child {
	width: 2.3rem;
}
.content .section .hgroup .btn-box>a.active {
	background-color: #5680f9;
}
.content .section .hgroup .btn-box>a.active:before {
	display: block;
}
.content .section .hgroup .msg-box,
.content .section .hgroup .scenes-pic {
	display: none;
}
.content .section .hgroup .msg-box .list-item>p {
	padding-left: .35rem;
	background: url(../images/pc-mark-icon.png) left .19rem no-repeat;
	background-size: .19rem;
}

/*合作媒体*/
.media .company-logos {
	width: 5.5rem;
	height: 3.68rem;
	padding-bottom: 1rem;
	background: url(../images/wap-company-logos.png) center 0 no-repeat;
	background-size: 5.5rem;
}

/*发展路线图*/
.road-map-box {
	position: relative;
	padding-top: .6rem;
}
.road-map-box .line {
	width: .04rem;
	height: 16rem;
	margin-left: 2.74rem;
	background-color: #223c9e;
	display: block;
}
.road-map-box .list-item {
	position: absolute;
	width: 2.3rem;
	word-break:break-all;
}
.road-map-box .list-item:nth-child(2n) {
	right: -.15rem;
}
.road-map-box .list-item>span {
	position: absolute;
	top: 50%;
	margin-left: -.18rem;
}
.road-map-box .list-item:nth-child(2n)>span {
	left: -.6rem;
}
.road-map-box .list-item:nth-child(2n+1) {
	left: -.15rem;
}
.road-map-box .list-item:nth-child(2n+1)>span {
	right: -.78rem;
}
.road-map-box .list-item:nth-child(2) {
	top: 0
}
.road-map-box .list-item:nth-child(3) {
	top: 1.5rem;
}
.road-map-box .list-item:nth-child(4) {
	top: 3.8rem;
}
.road-map-box .list-item:nth-child(5) {
	top: 5.8rem;
}
.road-map-box .list-item:nth-child(6) {
	top: 7.9rem;
}
.road-map-box .list-item:nth-child(7) {
	top: 10.3rem;
}
.road-map-box .list-item:nth-child(8) {
	top: 12.2rem;
}
.road-map-box .list-item:nth-child(9) {
	top: 14.6rem;
}
.road-map-box .list-item>span,
.road-map-box .list-item>span>i {
	display: block;
	border-radius: 50%;
}
.road-map-box .list-item>span {
	width: .36rem;
	height: .36rem;
	background-color: #3654bc;
}
.road-map-box .list-item>span>i {
	width: .2rem;
	height: .2rem;
	margin: .08rem auto;
	background-color: #2fbde5;
}

/*底部*/
.footer {
	width: 100%;
	padding-top: .4rem;
	padding-bottom: .4rem;
	background-color: #1f399d;
}
.footer>h4,
.footer>p {
	font-size: .28rem;
	text-align: center;
	line-height: 30px;
}
.footer>h4 {
	color: #fff;
}
.footer>p {
	color: #0b1162;
}

/*分享图标*/
.share-box {
	width: 4rem;
	height: 1.2rem;
	margin-left: auto;
	margin-right: auto;
	background: url(../images/wap-share-icons.png) center no-repeat;
	background-size: 4rem;
}
.share-box>a {
	width: 1rem;
	height: 1.2rem;
	float: left;
}

/*弹窗*/
.mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.7;
	filter: alpha(opacity=70);
	display: none;
	z-index: 200;
}
.modal-box {
	position: absolute;
	top: 100px;
	left: 50%;
	width: 5.3rem;
	margin-left: -3.25rem;
	padding: .6rem;
	background: linear-gradient(to right, #7757f8, #7457f7);
	display: none;
	z-index: 200;
}
.modal-box .close-btn {
	position: absolute;
	top: 0;
	right: 0;
	width: .7rem;
	height: .7rem;
	font-size: .6rem;
	font-family: "宋体";
	color: #2db5f5;
	line-height: .7rem;
	text-align: center;
}
.modal-box>h3 {
	padding-bottom: .5rem;
	font-size: .44rem;
	color: #fff;
	text-align: center;
	line-height: .44rem;
}
.modal-box>h4 {
	padding-bottom: .2rem;
	font-size: .26rem;
	color: #dedcfc;
	line-height: .26rem;
}

/*邮箱地址*/
.modal-box.email-address {
	position: fixed;
	top: auto;
	bottom: 300px;
}
.modal-box.email-address>h5 {
	font-size: .32rem;
	text-align: center;
}

/*播放链接*/
.modal-box.player-link .link {
	font-size: .28rem;
	color: #3ba1f4;
	line-height: .48rem;
	word-break:break-all;
}
.modal-box .btn {
	width: 100%;
	height: .8rem;
	margin: .3rem auto;
	font-size: .26rem;
	color: #fff;
	line-height: .8rem;
	text-align: center;
	background-color: #2db5f5;
	display: block;
}
.modal-box.player-link>h5,
.modal-box.player-link .tips {
	font-size: .24rem;
	color: #dedcfc;
	line-height: .4rem;
	word-break:break-all;
}
.modal-box.player-link>h5 {
	padding-top: .15rem;
	text-align: center;
}

/*注册*/
.modal-box.register {
	overflow: hidden;
}
.modal-box.register>img {
	position: absolute;
	top: 0;
	left: -.28rem;
	opacity: .1;
	filter: alpha(opacity=10);
	display: block;
}
.modal-box.register>h4 {
	text-align: center;
}
.modal-box.register .progress-line-box {
	position: relative;
	width: 2.3rem;
	height: .42rem;
	margin: 0 auto;
	padding-bottom: .4rem;
}
.modal-box.register .progress-line-box .progress-line {
	position: absolute;
	top: .2rem;
	left: .05rem;
	width: 2.2rem;
	height: 1px;
	background-color: #2a44a5;
}
.modal-box.register .progress-line-box>span {
	position: absolute;
	top: 5px;
	left: 50%;
	margin-left: -.1rem;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	background: url(../images/pc-right-icon.png) center no-repeat;
	background-size: 10px;
	display: none;
}
.modal-box.register .progress-line-box.active .progress-line {
	background-color: #2db5f5;
}
.modal-box.register .progress-line-box.active>span {
	display: block;
}
.modal-box.register .progress-line-box>i {
	position: absolute;
	top: 0;
	width: 21px;
	height: 21px;
	font-size: 12px;
	color: #fff;
	text-align: center;
	line-height: 21px;
	border-radius: 50%;
	background-color: #2a44a5;
	display: block;
}
.modal-box.register .progress-line-box>i:nth-of-type(1) {
	left: 0;
}
.modal-box.register .progress-line-box>i:nth-of-type(2) {
	right: 0;
}
.modal-box.register .progress-line-box>i.active {
	background-color: #2db5f5;
}
.modal-box.register .input-box {
	width: 100%;
	height: .46rem;
	padding-top: .12rem;
	padding-bottom: .12rem;
	background-color: #2a44a5;
}
.modal-box.register .input-box .input-name,
.modal-box.register .input-box .input-text,
.modal-box.register .input-box .input-text>input {
	height: .46rem;
	font-size: .26rem;
	color: #fff;
	line-height: .46rem;
}
.modal-box.register .input-box .input-name {
	width: 1.56rem;
	text-align: center;
	border-right: 1px solid #6e58f6;
}
.modal-box.register .input-box .input-text {
	width: 3rem;
	padding-left: .2rem;
}
.modal-box.register .input-box .input-text>input {
	width: 100%;
	background: transparent;
}
.modal-box.register .valid-mobile .activity-rules>h5 {
	position: relative;
	width: 100%;
	padding-left: .3rem;
	padding-bottom: .1rem;
	font-size: .24rem;
	line-height: .2rem;
	color: #c7bcfc;
}
.modal-box.register .valid-mobile .activity-rules>h5>span {
	position: absolute;
	top: 2px;
	left: 0;
	width: 6px;
	height: 6px;
	content: "";
	border: 1px solid #c7bcfc;
	display: block;
	transform: rotate(45deg);
}
.modal-box.register .valid-mobile .activity-rules>h5>span:after {
	width: 4px;
	height: 4px;
	margin: 1px auto;
	content: "";
	background-color: #c7bcfc;
	display: block;
}
.modal-box.register .activity-rules>p,
.modal-box.register .note {
	font-size: .2rem;
	color: #c7bcfc;
	line-height: .4rem;
}
.modal-box.register .go-back {
	width: 1.25rem;
	margin: 0 auto;
	font-size: .24rem;
	color: #2db5f5;
	text-align: center;
	display: block;
}
.modal-box.register .mobile-text {
	padding: .35rem 0 .35rem .2rem;
	font-size: .24rem;
}
.modal-box.register .note {
	padding-top: .15rem;
	padding-bottom: .15rem;
}
.modal-box.register .success-tips {
	width: 1.9rem;
	height: .4rem;
	margin: .2rem auto;
	font-size: .26rem;
	color: #fff;
	line-height: .4rem;
	text-align: right;
	background-image: url(../images/pc-success-icon.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: .4rem;
}
.modal-box.register .success-tips.active {
	width: 2.6rem;
	background-image: url(../images/pc-warning-icon.png);
}
.modal-box.register .appoint-result>p {
	font-size: .26rem;
	color: #fff;
	text-align: center;
}
.modal-box.register .invite-link {
	padding-top: .6rem;
	padding-bottom: .3rem;
}
.modal-box.register .invite-link>p {
	font-size: .26rem;
	color: #fff;
	word-break:break-all;
}
.modal-box.register .invite-link>p>span {
	color: #399df4;
}