body {
	margin: 0;
}
form, ul, ol, dl, p, h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 0;
}
td{
	padding: 0;
}
dd {
	margin-left: 0;
}
ul, ol {
	margin-left: 0;
	padding-left: 0;
}
h1, h2, h3, h4, h5, h6, p {
	font-size: inherit;
	font-weight: normal;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}
input {
	padding: 0px;
	margin: 0px;
	-moz-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	tap-highlight-color: rgba(0, 0, 0, 0);
	outline: none;
	border: 0;
	font-size: inherit;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
em, i {
	font-style: normal;
}
a {
	color: inherit;
	text-decoration: none;
}
li {
	list-style: none;
}
html, body, input {
	font-family: "Microsoft YaHei", arial, simsun, SimHei;
	font-size: 24px;
	color: #0d263b;
}
img {
	border: 0;
}
.ml20 {
	margin-left: 20px;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.clx {
	zoom: 1
}
.clx:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	overflow: hidden
}
.wrap,
.content {
	position: relative;
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
}
.linear {
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fcfcfc));
	background: -webkit-linear-gradient(#fff, #fcfcfc);
	background: -moz-linear-gradient(#fff, #fcfcfc);
	background: -o-linear-gradient(#fff, #fcfcfc);
	background: linear-gradient(#fff, #fcfcfc);
}
.wrap .title {
	padding-top: 50px;
	text-align: center;
	background-color: #fff;
}
.wrap .title>h3 {
	font-size: 36px;
}
.wrap .title>p {
	font-size: 20px;
}
.content {
	padding: 50px 0;
	display: table;
	vertical-align: middle;
	overflow: hidden;
}
.content .text-box,
.content .img-box {
	display: table-cell;
	vertical-align: middle;
	overflow: hidden;
}
.content .text-box>h4 {
	color: #42c2ff;
}
.content .text-box>p {
	line-height: 42px;
}

/*顶部*/
.header {
	position: relative;
	width: 100%;
	height: 600px;
	background-color: #0d263b;
}
.header .banner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 600px;
	overflow: hidden;
}
.header .banner>li {
	width: 100%;
	height: 600px;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: 1920px 1920px;
	   -moz-background-size: 1920px;
	     -o-background-size: 1920px;
	        background-size: 1920px;
	background-image: url(../images/pc-banner.png)
}
.header .top-bar {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	padding: 15px 0px;
	z-index: 10;
}
.header .top-bar.active {
	background-color: #000;
	opacity: .8;
	filter: alpha(opacity=80);
}
.header .top {
	position: relative;
	width: 1024px;
	height: 35px;
	line-height: 35px;
	margin-left: auto;
	margin-right: auto;
}
.header .top .logo {
	width: 300px;
	height: 35px;
}
.header .top .nav {
	position: absolute;
	top: 0;
	right: 0;
	width: 360px;
	color: #fff;
}
.header .top .nav>li {
	float: left;
	margin-right: 20px;
}
.header .top .nav>li:last-child {
	margin-right: 0;
}
.header .top .nav a:hover {
	color: #42c2ff;
}

/*知识市场简介*/
.content.brief-info .text-box {
	width: 43%;
}
.content.brief-info .text-box>p {
	width: 322px;
}
.content.brief-info .img-box {
	width: 57%;
}

/*知识市场优势*/
.content.advantage .text-box {
	width: 50%;
}
.content.advantage .img-box {
	width: 50%;
}
.content.advantage.step1 .img-box>img {
	float: left;
}
.content.advantage.step2 .img-box>img {
	float: right;
}
.content.advantage.step3 .img-box>img {
	float: left;
}

/* 创始团队 + 投资人 */
.content.team,
.content.investors {
	width: 1064px;
}
.content .list {
	position: relative;
	min-height: 490px;
	float: left;
	margin-right: 30px;
}
.content .list>img {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -80px;
	width: 160px;
	height: 160px;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	z-index: 2;
}
.content .list .list-msg {
	min-height: 280px;
	margin-top: 80px;
	padding: 90px 7px 25px 25px;
	background-color: #fff;
	-webkit-border-radius: 20px;
	   -moz-border-radius: 20px;
	        border-radius: 20px;
	z-index: 1;
	-webkit-box-shadow:0px 0px 40px #f4f4f4;
	   -moz-box-shadow:0px 0px 40px #f4f4f4;
	        box-shadow:0px 0px 40px #f4f4f4;
}
.content .list .list-msg>h5 {
	font-size: 36px;
	text-align: center;
}
.content .list .list-msg>span {
	padding-bottom: 25px;
	font-size: 24px;
	text-align: center;
	display: block;
}
.content .list .list-msg>p {
	font-size: 24px;
	color: #898989;
	line-height: 36px;
	word-break:break-all;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

/*创始团队*/
.content.team .list {
	width: 320px;
}
.content.team .list .list-msg {
	width: 277px;
}

/*投资人*/
.content.investors .list {
	width: 232px;
}
.content.investors .list .list-msg {
	width: 200px;
}

/*投资机构*/

/*合作媒体*/
.media-list {
	width: 960px;
	padding-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}
.media-list li {
    width: 132px;
    height: 50px;
    float: left;
    margin-top: 30px;
    padding: 0 30px;
    text-align: center;
}
.media-list li img {
	width: 100%;
    margin: 0 auto;
    display: block;
}

/*发展路线*/
.map-box {
    position: relative;
    height: 4px;
    margin: 220px 0;
    background-color: #d7d7d7
}
.map-box .map-item {
	position: absolute;
	width: 200px;
	height: 170px;
	padding-top: 30px;
	font-size: 16px;
	padding-left: 10px;
	border-left: 4px solid #d7d7d7;
}
.map-box .map-item>h3 {
	color: #42c2ff;
}
.map-box .map-item>p {
	text-indent: 1em;
}
.map-box .map-item.top {
	bottom: 4px;
}
.map-box .map-item.bottom {
	top: 4px;
}
.map-box .map-item.step1 {
	left: 200px;
}
.map-box .map-item.step2 {
	left: 400px;
}
.map-box .map-item.step3 {
	left: 600px;
}
.map-box .map-item.step4 {
	left: 800px;
}
.map-box .map-item:before {
	position: absolute;
	content: "";
	width: 30px;
	height: 30px;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	background-color: #d7d7d7;
	display: block;
}
.map-box .map-item.top:before,
.map-box .map-item.bottom:before {
	left: -17px;
}
.map-box .map-item.top:before {
	bottom: -15px;
}
.map-box .map-item.bottom:before {
	top: -15px;
}

/*右侧浮栏*/
.float-bar {
	position: fixed;
	top: 100px;
	right: -2px;
	width: 50px;
	border: 1px solid #f1f1f1;
}
.float-bar li {
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #f1f1f1;
	background-color: #fff;
	background-image: url(../images/pc-float-bar-icons.png);
	background-repeat: no-repeat;
}
.float-bar li>a {
	width: 100%;
	height: 100%;
	display: block;
}
.float-bar li.twitter {
	background-position: 0 -50px;
}
.float-bar li.facebook {
	background-position: 0 -150px;
}
.float-bar li.qq {
	background-position: 0 -100px;
}
.float-bar li.weixin {
	background-position: 0 0;
}
.float-bar li.beechat {
	background-position: 0 -200px;
}

/*底部*/
.footer {
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #0d263b;
}
.footer>p {
	font-size: 12px;
	color: #a9a9a9;
	text-align: center;
	line-height: 24px;
}

